body {
	margin: 0;
	padding: 3px;
	font-family: Verdana, sans-serif;
}

canvas {
	border: 1px solid #9C9898;
}

#menu-container {
	float: left;
}

#menu-container input {
	width: 60px;
}

#menu-container select {
	width: 100%;
}

#canvas-container {
	margin: 2px;
	float: left;
}

#info-container { // with selection hack -ms-user-select:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	padding: 20px;
	clear: both;
}

#init-controls button {
	width: 100%;
}